body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  background: linear-gradient(to right, #6dd5fa, #ffffff);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sub-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 48%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  display: none; /* Hide by default */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f5f5f5;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

#printButton {
  display: none;
  margin: 20px auto;
  display: block;
}

#moveToTop {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: blue;
  cursor: pointer;
}

/* For Adding Meter Owner Line */
.form-group {
  margin-bottom: 15px;
}

/*Drop Down selection Below*/
.form-group label {
  display: block;
  margin-bottom: 5px;
}

/* .form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
} */

/*All options Adjacent nearby*/
.form-group-inline {
  display: flex;
  gap: 15px;
}

/*Right Aligned*/
/* .form-group-inline .form-group {
  flex: 1;
} */

/* For Instructions - Start */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.instructions-link-container {
  text-align: right;
  margin-bottom: 10px;
}

.instructions-link {
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

.instructions-link:hover {
  text-decoration: underline;
}
/* For Instructions - End */



/* Return page -Start */
/* Return Link */
.return-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* .container1 {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
} */

.container1 {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container1 {
    max-width: 95%;
    padding: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .container1 {
    max-width: 98%;
    padding: 10px;
  }
}

.tariff-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  li {
    font-size: 14px;
  }

  .return-link {
    font-size: 16px;
  }
}
/* Return page -End */

.calc-step {
  color: blue;
}


